<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <%= render 'pages/components/tagline' %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <h6 class="annotation-main">Map</h6>
            <%= render 'pages/components/map' %>
          <br>
        </div>
      </div>
      <h6 class="annotation-main">Categories</h6>
      <%= render 'pages/components/categories'%>
      <br>
      <div class="card card-planetome" >
        <div class="card-header card-header-index">
          <h5 class="card-title">Report
            <small class="text-muted">| Alpha version</small></h5>
        </div>
        <div class="card-body">
          <%= render 'pages/components/report_components/selectcategory'%>
          <br>
          <hr>
          <%= render 'pages/components/report_components/brandscategory'%>
          <br>
          <hr>
          <%= render 'pages/components/report_components/brandsfull' %>
          <br>
          <hr>
          <%= render 'pages/components/report_components/brandsnearby'%>
          <br>
          <hr>
          <%= render 'pages/components/report_components/locationdata'%>
        </div>
      </div>
    </div>
  </div>
</div>
