<!DOCTYPE html>
<html>
  <head>
    <title>Planetome Alpha</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.2.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.2.0/mapbox-gl-geocoder.css' type='text/css' />

    <%= render 'layouts/navigation' %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4M29iazA2Z2gycXA4N2pmbDZmangifQ.-g_vE53SD2WrJ6tFX7QHmA';
    var map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/streets-v9',
        center: [-73.985242, 40.748521], // starting position
        zoom: 11 // starting zoom
    });
    map.on('mousemove', function (e) {
        document.getElementById('info').innerHTML = e.lngLat.lat;
        document.getElementById('info2').innerHTML = e.lngLat.lng;
    });
    var marker;
    var cur_coords;
    function update_results(coords) {
    	// create a HTML element for each feature
    	if (coords) {
    		var el = document.createElement('div');
    		el.className = 'marker';
    		if (marker){
    			marker.remove();
    		}
    		// make a marker for each feature and add to the map
    		marker = new mapboxgl.Marker(el)
    			.setLngLat(coords)
    			.addTo(map);
    		cur_coords = coords;
    	} else {
    		coords = cur_coords;
    	}
      var cat_select = document.getElementById("category");
      var category = cat_select.options[cat_select.selectedIndex].value;
      $.ajax({
        type: 'GET',
        url: 'http://35.196.119.100:5001/explain',
        cache: false,
        data: { coords: coords[1] + ',' + coords[0], category: category },
        dataType: 'json',
        success: function (data) {
          var table = '<thead class="thead-dark1"><tr><th class="th-color" scope="col">Feature</th><th class="th-color" scope="col">Value</th><th class="th-color" scope="col">Delta</th></tr></thead>';
          $.each(data.arguments, function(){
            table += '<tbody><tr><td>'+this.feature+'</td><td>'+this.value+'</td><td>'+this.delta+'</td></tr></tbody>';
          });
          $('#arguments').html(table)
        }
      });
      $.ajax({
        type: 'GET',
        url: 'http://35.196.119.100:5000/',
        cache: false,
        data: { coords: coords[1] + ',' + coords[0] },
        dataType: 'json',
        success: function (data) {
          var table = '<thead class="thead-dark1"><tr><th class="th-color" scope="col-11">Type</th><th class="th-color" scope="col-1">Score</th></tr></thead>';
          $.each(data.categories, function(){
            table += '<tr><td>'+this.category+'</td><td>'+this.score+'</td></tr>';
          });
          $('#business_categories').html(table)
          //
          table = '<thead class="thead-dark1"><tr><th class="th-color" scope="col">Brand</th><th class="th-color" scope="col">Type</th></tr></thead>'
          $.each(data.nearby_brands, function(){
            table += '<tr><td>'+this.brand+'</td><td>'+this.category+'</td></tr>';
          });
          $('#nearby_brands').html(table)
          //
          table = '<thead class="thead-dark1"><tr><th class="th-color" scope="col">Brand</th><th class="th-color" scope="col">Type</th><th class="th-color" scope="col">Planetome Similarity Index</th></tr></thead>'
          $.each(data.recommended_brands, function(){
            if (this.category.toLowerCase() == category.toLowerCase()) {
              table += '<tr><td>'+this.brand+'</td><td>'+this.category+'</td><td>'+this.score+'</td></tr>';
            }
          });
          $('#recommended_brands').html(table)
          //
          table = '<thead class="thead-dark1"><tr><th class="th-color" scope="col">Brand</th><th class="th-color" scope="col">Type</th><th class="th-color" scope="col">PSI</th></tr></thead>'
          $.each(data.recommended_brands, function(){
            table += '<tr><td>'+this.brand+'</td><td>'+this.category+'</td><td>'+this.score+' ('+this.dist+')'+'</td></tr>';
          });
          $('#recommended_brands_all').html(table)
        }
      });
    }
    map.on('click', function (e) {
    	update_results([e.lngLat.lng, e.lngLat.lat]);
    });
    var geocoder = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken
    });
    map.addControl(geocoder, 'top-left');
    geocoder.on('result', function(ev) {
    	update_results(ev.result.geometry.coordinates);
    });
    </script>


  </body>
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</html>
